<div class="container">
  <div class="row">
    <h5 class="mt-2"><span class="bg-light font-weight-bold px-3">商品編集</span></h5>
  </div>
  <div class="row">
    <div class="form-group">

    </div>
  </div>
</div>