<div class="container">
  <div class="row mt-4">
    <div class="col-md-4">
      <table class="table table-bordered">
        <thead>
          <tr>
            <th>ジャンル検索</th>
          </tr>
        </thead>
        <tboddy>
          <% @genres.each do |genre| %>
            <tr>
              <td><%= genre.name %></td>
            </tr>
          <% end %>
        </tboddy>
      </table>
    </div>
    <div class="col-md-8">
      <p>ようこそ、ながのCAKEへ！</p>
      <p>このサイトは、ケーキ販売のECサイトになります。</p>
      <p>会員でない方も商品の閲覧ができますが、</p>
      <p>購入には会員登録が必要になります。</p>
    </div>
  </div>
</div>
