<div class="container">
  <div class="row mt-3">
    <h4><span class="bg-light font-weight-bold px-3">会員一覧</span></h4>
  </div>
  <div class="row">
    <table class="table table-hover table-inverse">
      <thead>
        <tr class="table-active">
          <th>会員ID</th>
          <th>氏名</th>
          <th>メールアドレス</th>
          <th>ステータス</th>
        </tr>
      </thead>
      <tbody>
        <% @customers.each do |customer| %>
          <tr>
            <td><%= customer.id %></td>
            <td><%= link_to customer.name, admin_customer_path(customer.id) %></td>
            <td><%= customer.email %></td>
            <td></td>
          </tr>
        <% end %>
      </tbody>
    </table>
  </div>
</div>