<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-8 col-lg-5 px-5 px-sm-0 mx-auto">
      <strong class="bg-light px-3">ジャンル編集</strong>
      <%= form_with model: @genre, url: admin_genre_path(@genre.id), method: :patch do |f| %>
        <div class="form-horizontal">
          <div class="form-group">
            <div class="form-inline mt-5">
              <label for="genre_name" class="mr-4">ジャンル名</label>
              <%= f.text_field :name, class: 'form-control mr-4' %>
              <%= f.submit "変更を保存", class: 'btn btn-success' %>
            </div>
          </div>
        </div>
      <% end %>
    </div>
  </div>
</div>