<div class="container">
  <div class="row mt-3">
    <h5><span class="bg-light font-weight-bold px-3">配送先登録/一覧</span></h5>
  </div>
  <%= form_with model:
  <table>
    <tbody>
      <tr>
        <th>郵便番号(ハイフンなし)</th>
      </tr>
    </tbody>
  </table>
</div>